name: DevSecOps AKS Pipeline

on:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/download/v0.68.2/trivy_0.68.2_Linux-64bit.tar.gz
          tar -xzf trivy_0.68.2_Linux-64bit.tar.gz
          sudo mv trivy /usr/local/bin/

      - name: Trivy config scan
        run: |
          trivy config secure/ --severity HIGH,CRITICAL --exit-code 1

  deploy:
    runs-on: ubuntu-latest
    needs: security

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Set AKS context
        uses: azure/aks-set-context@v4
        with:
          resource-group: rg-secure-aks
          cluster-name: secure-aks

      - name: Verify AKS access
        run: |
          kubectl cluster-info
          kubectl get nodes

      - name: Deploy hardened manifests
        run: |
          kubectl apply -f secure/ --validate=false
          kubectl rollout status deployment/secure-app -n secure-app
